/* Responsive styles */
/* Remove borders from experience section */
@media screen and (max-width: 2500px) {
    .section {
        padding: 0;
        margin-left: 0;
        margin-right: 0;
    }

    .tab-button img {
        padding-left: 10px;
        height: 40px;
        vertical-align: middle;
        padding-right: 5%;
    }

    .tab-button {
        font-size: 1.6rem;
        padding: 5%;
    }

    .header-text {
        font-size: 2rem;
        border-bottom: none;
    }
    .date-text {
        font-size: 1.3rem;
        border-bottom: none;
    }

    .content-description {
        font-size: 1.6rem;
    }
}


@media screen and (max-width: 1440px) {
    .tab-button {
        font-size: 1.5rem;
        padding: 10%;
    }

    .tab-button img {
        display: none;
    }

    .header-text {
        font-size: 2rem;
        border-bottom: none;
    }
    .date-text {
        font-size: 1.5rem;
        border-bottom: none;
    }

    .content-description {
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 1024px) {
    header {
        background-color: transparent;
        height: auto;
    }

    header nav ul {
        flex-direction: column;
        align-items: flex-start;
        align-items: center;
    }

    header nav ul li {
        margin: 0.5rem 0;
        padding-right: 20px;
        width: 100%;
        text-align: right;
    }

    .tab-button {
        font-size: 1.3rem;
    }

    .experience-panel {
        width: 80%;
    }

    .header-text {
        font-size: 1.6rem;
        border-bottom: none;
    }
    .date-text {
        font-size: 1.2rem;
        border-bottom: none;
    }

    .content-description {
        font-size: 1.2rem;
    }
}


@media screen and (max-width: 500px) {
    body {
        font-size: 0.8rem;
    }
    .section h1, .section h2 {
        font-size:2rem;
    }

    .header-highlight {
        color: #ffffff;
        font-size: 1.3rem;
    }

    #home {
        margin-bottom: -90%;
    }
    
    .skills-image img {
        scale:0.7;
        width: 100%;
        height: auto;
    }

    #skills {
        margin-bottom: -170%;
    }
    
    
    header nav ul li a{
        font-size: 1rem;
    }

    header nav ul li{
        margin: 0;
    }

    .experience-panel {
        height: auto;
    }

    .experience-container {
        width: 100%;
    }
    .tabs {
        width: 35%;
    }

    .tab-content {

    }
    .tab-button {
        height: 15%;
        font-size: 0.9rem;
    }

    .experience-panel {
        scale:100%;
        width: 80%;
    }

    .header-text {
        font-size: 1rem;
        border-bottom: none;
    }
    .date-text {
        font-size: 0.7rem;
        border-bottom: none;
    }

    .content-description {
        font-size: 0.8rem;
    }
}