body {
    font-family: 'Quicksand', sans-serif;
    font-weight: 300;
    background: linear-gradient(180deg, #19141F, #4D637C);
    color: #fff;
    margin: 0;
    padding: 0;
    font-size: 1.6rem;
}

header {
    position: fixed;
    top: 0;
    height: 5%;
    width: 100%;
    transition: background 0.3s;
    display: flex;
    justify-content: flex-end;
}

header nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
}

header nav ul li {
    margin: 1rem 1.5rem 0;
}

header nav ul li a {
    color: #fff;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Pixelify Sans', sans-serif;
}

header nav ul li a:hover {
    color: #33ffbd;
}

.section h1, .section h2 {
    margin-bottom: 1rem;
    font-size: 2.8rem;
    font-family: 'Pixelify Sans', sans-serif;
    color: #ffbd33;
}

.highlight-text {
    color: #ff4397;
}

.header-highlight {
    color: #ffffff;
    font-size: 3rem;
}

.section {
    padding: 100px 20px;
    min-height: 100vh;
    text-align: center;
    scroll-snap-align: start;
    background: inherit;
    margin-left: 10%;
    margin-right: 10%;
}

#home {
    background: inherit;
    margin-top: 10%;
    margin-left: 30%;
    margin-right: 30%;
    margin-bottom: -20%;
}

#skills {
    margin-bottom: -10%;
}

.skills-container, .experience-container, .projects-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

form input, form textarea, form button {
    display: block;
    width: 100%;
    margin: 10px 0;
    padding: 10px;
    border: none;
    border-radius: 5px;
}

form button {
    background-color: #f4d03f;
    color: #000;
    font-size: 1rem;
    cursor: pointer;
}

form button:hover {
    background-color: #f1c40f;
}

html {
    scroll-behavior: smooth;
}

body {
    scroll-snap-type: y mandatory;
}

#cursor-effect {
    position: absolute;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: radial-gradient(circle, #f1c40f51 6%, rgba(255, 189, 51, 0) 60%);
    pointer-events: none;
    transform: translate(-50%, -50%);
    z-index: 9999;
    transition: opacity 1s ease-in-out, left 0s, top 0s;
    opacity: 0;
}

.skills-container {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-image {
    margin-left: 4%;
    width: 65%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.skills-image img {
    width: 100%;
    height: auto;
}

#experience {
    margin-bottom: -10%;
}

.experience-container {
    margin-top: 6%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.experience-panel {
    scale: 0.9;
    opacity: 80%;
    display: flex;
    background-color: #31384E;
    color: white;
    height: 800px;
    width: 70%;
    margin: auto;
    border-top: rgb(0, 255, 255) 1px solid;
    border-right: rgb(0, 255, 255) 1px solid;
    border-bottom: rgb(0, 255, 255) 1px solid;
    border-radius: 20px;
}

.tabs {
    background-color: #211d30;
    width: 25%;
    display: flex;
    flex-direction: column;
    border-right: rgb(0, 255, 255) 1px solid;
    border-left: rgb(0, 255, 255) 1px solid;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

button {
    background: none;
    border: none;
    padding: 0;
    font: inherit;
    color: inherit;
    cursor: pointer;
    outline: none;
}

.tab-button {
    height: 15%;
    font-family: 'Pixelify Sans', sans-serif;
    color: white;
    font-size: 2rem;
    padding: 10%;
    padding-bottom: 20%;
    border-bottom: rgb(0, 255, 255) 1px solid;
    text-align: left;
    background: none;
    cursor: pointer;
    transition: background-color 0.3s;
}

.tab-button:first-child {
    border-top-left-radius: 20px;
}

.tab-button:hover {
    background-color: #575757;
}

.tab-content {
    display: none;
    padding: 20px;
    width: 75%;
}

.tab-button img {
    height: 40px;
    vertical-align: middle;
    padding-right: 5%;
}

.header-text {
    text-align: left;
    font-size: 2rem;
    font-weight: bold;
    border-bottom: rgb(0, 255, 255) 1px solid;
    padding-bottom: 1.5%;
    padding-right: 10%;
}

.date-text {
    font-size: 1.5rem;
    text-align: right;
    padding-right: 3%;
    padding-top: 2.5%;
}

.content-description {
    margin-top: 20px;
    text-align: left;
    font-size: 2rem;
    padding-left: 15%;
    padding-right: 15%;
}
